
p {
    /* color: var(--color-black); */
    font-size: 21px;
    line-height: 32px;
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-size: 21px;
    line-height: 32px;
    font-weight: 700;
}

button {
    width: 200px;
    height: 56px;
    background: #458FF6;
    border: none;
    outline: none;
    border-radius: 55px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
}
/* section {
    padding: 5% 5% 2% 5%;
} */

.section6 button:hover {
    border: 2px solid rgb(69, 231, 4);
    box-shadow: 0px 0px 1px 2px rgb(69, 231, 4);
    background: rgb(69, 231, 4);
    transition: all 0.3s ease-in-out;
}

.section6 {
    text-align: center;
    margin: 0 5%;
}

.section6 h5 {
    padding: 4% 0 1% 0;
}

.section6 hr {
    width: 5%;
    margin: 1% auto;
    border: 1px solid black;
}

.sec6-row1 {
    display: flex;
    width: 100%;
    height: auto;
}

.sec6-row1 .column {
    width: 100%;
    background: white;
    text-align: left;
    margin: 2% 2%;
    padding: 0%;
    border-radius: 20px;
}

.sec6-row1 .column img {
    width: 100%;
    height: auto;
    padding-bottom: 2%;
    border-radius: 20px 20px 0px 0px;
}

.sec6-row1 .column h2 {
    padding: 1% 0;
    padding: 4% 10%;
}

.sec6-row1 .column p {
    padding: 1% 12% 5% 12%;
    font-size: 16px;
    line-height: 28px;
}

.section6 button {
    background: #ffff;
    border: 1px solid #458FF6;
    color: #458FF6;
    margin: 4% auto;
}

@media (max-width: 1066px) {
    .section6 .column {
        margin: 2%;
    }
}

@media (max-width: 825px) {
    section {
        padding: 0;
        margin: 5% 2%;
    }
    .section6 {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 1% 0;
    }
    .sec6-row1 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .section6 .column {
        margin: 5% 01%;
        padding: 0;
    }
    .sec6-row1 .column p {
        text-align: start;
        padding: 2% 10% 5% 10%;
    }
    .section6 .column:hover {
        transform: scale(1.03);
    }
}

@media (max-width: 710){
    .section6 .column {
        margin: 3%;
    }
    .section6 .column:hover {
        transform: scale(1.05);
    }
}