p {
    /* color: var(--color-black); */
    font-size: 21px;
    line-height: 32px;
    font-weight: 300;
    font-style: normal;
}

h5 {
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
}

button {
    width: 200px;
    height: 56px;
    background: #458FF6;
    border: none;
    outline: none;
    border-radius: 55px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
}

/* section {
    padding: 5% 5% 2% 5%;
} */

.section2 button:hover {
    border: 2px solid rgb(69, 231, 4);
    box-shadow: 0px 0px 1px 2px rgb(69, 231, 4);
    background: rgb(69, 231, 4);
    transition: all 0.3s ease-in-out;
}
.section2 {
    text-align: center;
    margin: 0 3%;
}

.section2 h5 {
    padding: 4% 0 1% 0;
}

.section2 hr {
    width: 5%;
    margin: 1% auto;
    border: 1px solid black;
}

.section2 p {
    font-size: 18px;
    line-height: 30px;
    padding: 1% 9% 5% 9%;
}

.sec2-row1,
.sec2-row2 {
    display: flex;
    width: 100%;
    height: auto;
}
.section2 button {
    background: #ffff;
    border: 1px solid #458FF6;
    color: #458FF6;
    margin: 2% auto 0% auto;
}

@media (max-width: 1066px) {
    .column:hover {
        transform: scale(1.1);
    }
    .section2 .column {
        margin: 2%;
        padding: 2%;
    }
}

@media (max-width: 960px) {
    .section2 .column {
        margin: 2%;
    }
}

@media (max-width: 825px) {
    section {
        padding: 0;
        margin: 5% 2%;
    }
    .section2 {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .section2 .column {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 5% 1%;
        padding: 2% 1%;
    }
    .column:hover {
        transform: scale(1.05);
    }
    .sec2-row1,
    .sec2-row2 {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
    }
    .section2 button {
        margin: 5% auto;
    }
}